body {
    background: rgb(217, 15, 15);
    background: linear-gradient(180deg, rgba(217, 15, 15, 1) 43%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 57%);
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gam-logo {
    width: 350px;
    margin-top: 2%;
    margin-bottom: 1%;
}

#pokebox {
    background-color: white;
    width: 20%;
    border: 1px solid;
    border-radius: 5px;
    padding: 3%;
    display: none;
    flex-direction: column;
    align-items: center;
}

#game {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poke-picture {
    width: 80%;
}

#startbutton {
    margin: 2%;
    background-color: #facb04;
    width: 200px;
    height: 50px;
    font-family: cursive;
    font-size: large;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 5px;
}

#startbutton:hover {
    cursor: pointer;
}

#guessform {
    margin-top: 1%;
    display: none;
    flex-direction: column;
    align-items: center;

}

#enviar {
    margin-top: 4%;
    width: 35%;
    height: 30px;
    background-color: #facb04;
    border: 2px solid black;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}

#enviar:hover {
    cursor: pointer;
    background-color: #fbd52a;
    color: rgb(45, 45, 45);
    transition: ease-in-out .15s;
}

#guessbox {
    width: 200px;
    height: 25px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 5px;
}

#guessbox:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.251);
    transition: ease-in-out .15s;
}

#guessit {
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2px;
}

#points {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: white;
    border: double black;
    border-radius: 5px;
    font-size: large;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    align-items: center;
}

#correction {
    font-family: Andale Mono, monospace;
    font-size: medium;
    font-weight: bold;
}

#loading {
    display: none;
    width: 45px;
    margin-top: 15px;
}

#cronometro {
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: large;
    border: double black;
    border-radius: 5px;
    padding: 5px;
}

#bar {
    margin-bottom: 10px;
    display: none;
    flex-direction: row;
}

#time-feedback {
    margin-top: 15px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: medium;
    color: red;
    text-shadow: 1px 1px 1px black;
}

#filter,
#HTP {
    width: 8%;
    height: 25px;
    font-family: sans-serif;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin: 3px;
}

#filter:hover {
    color: red;
    transition: ease-in-out .2s;
    cursor: pointer;
}

#HTP:hover {
    color: red;
    transition: ease-in-out .2s;
    cursor: pointer;
}

#level:hover {
    color: red;
    transition: ease-in-out .2s;
    cursor: pointer;
}

#actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

#genfilter {
    width: 15%;
    height: 35px;
    background-color: #facb04;
    font-family: cursive;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 8px;
}

#genfilter:hover {
    background-color: #ffda34;
    color: rgb(55, 55, 55);
    cursor: pointer;
}

#filterbar {
    width: 100%;
    display: none;
    flex-direction: column;
}

#lay1,
#lay2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#filtertitle {
    align-self: center;
    font-family: cursive;
    font-size: large;
    color: white;
}

#pop-up {
    display: none;
    position: fixed;
    z-index: 2;
    margin-top: 1%;
    background-color: white;
    width: 30%;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#close {
    border: double red;
    border-radius: 5px;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#close:hover {
    cursor: pointer;
    color: black;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

#htptitle {
    font-size: 25px;
    font-family: cursive;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: red;
    text-shadow: 1px 1px black;
}


#htpcontent {
    font-family: cursive;
    text-align: justify;
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#backfilter {
    width: 10%;
    height: 30px;
    font-family: cursive;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    font-size: medium;
    align-self: center;
}

#backfilter:hover {
    cursor: pointer;
}

.level-container {
    position: relative;
    display: inline-block;
}

#level {
    width: 150px;
    /* Largura ajustável */
    height: 25px;
    /* Altura ajustável */
    padding: 5px;
    font-family: sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-bottom: 0;
    border: 1px solid black;
}

#level:hover {
    color: red;
    /* Cor do texto no hover */
    transition: ease-in-out 0.2s;
    /* Transição suave */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    min-width: 144.5px;
    /* Largura ajustável */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 2px;
}

.dropdown li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.dropdown li:first-child {
    border-top: none;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.selected-option {
    font-weight: bold;
    background-color: #ddd;
    /* Cor de fundo diferente para indicar seleção */
}

#resultados {
    width: 15%;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    max-height: 80px;
    display: none;
    z-index: 1;
}

.resultado-botao {
    cursor: pointer;
    padding: 5px;
    width: 192px;
    background-color: lightgrey;
    margin-left: 2px;
    margin-right: 2px;
}

.resultado-botao:hover {
    background-color: rgb(227, 227, 227);
}

.resultado-selecionado {
    background-color: rgb(232, 232, 232);
}