@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Luckiest+Guy&family=Merriweather&family=Skranji:wght@400;700&display=swap");

body {
  background: rgb(217, 15, 15);
  background: linear-gradient(180deg,
      rgba(217, 15, 15, 1) 43%,
      rgba(0, 0, 0, 1) 50%,
      rgba(255, 255, 255, 1) 57%);
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gam-logo {
  width: 350px;
  margin-top: 2%;
  margin-bottom: 1%;
}

#pokebox {
  background-color: white;
  width: 20%;
  border: 1px solid;
  border-radius: 5px;
  padding: 3%;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: boxshow 1s;
}

@keyframes boxshow {
  from {
    width: 0%;
  }

  to {
    width: 20%;
  }
}

#game {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#poke-picture {
  width: 80%;
  animation: pokeshow 2s;
}

@keyframes pokeshow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#startbutton {
  margin: 2%;
  background-color: #facb04;
  width: 200px;
  height: 50px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: large;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 5px;
}

#startbutton:hover {
  cursor: pointer;
}

#guessform {
  margin-top: 1%;
  display: none;
  flex-direction: column;
  align-items: center;
}

#enviar {
  margin-top: 4%;
  width: 35%;
  height: 30px;
  background-color: #facb04;
  border: 2px solid black;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
}

#enviar:hover {
  cursor: pointer;
  background-color: #fbd52a;
  color: rgb(45, 45, 45);
  transition: ease-in-out 0.15s;
}

#guessbox {
  width: 200px;
  height: 25px;
  font-size: medium;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#guessbox:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.251);
  transition: ease-in-out 0.15s;
}

#guessit {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2px;
}

#points {
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  color: white;
  border: double black;
  border-radius: 5px;
  font-size: large;
  font-family: Comic Sans MS, Comic Sans, cursive;
  display: flex;
  align-items: center;
}

#correction {
  font-family: Andale Mono, monospace;
  font-size: medium;
  font-weight: bold;
}

#loading {
  display: none;
  width: 45px;
  margin-top: 15px;
}

#cronometro {
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: large;
  border: double black;
  border-radius: 5px;
  padding: 5px;
}

#bar {
  margin-bottom: 10px;
  display: none;
  flex-direction: row;
}

#time-feedback {
  margin-top: 15px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: medium;
  color: red;
  text-shadow: 1px 1px 1px black;
}

#filter,
#HTP {
  width: 9rem;
  height: 25px;
  font-family: sans-serif;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  margin: 3px;
}

#filter:hover {
  color: red;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

#HTP:hover {
  color: red;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

#level:hover {
  color: red;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

#actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

#genfilter {
  width: 15%;
  height: 35px;
  background-color: #facb04;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 5px;
  margin: 8px;
}

#genfilter:hover {
  background-color: #ffda34;
  color: rgb(55, 55, 55);
  cursor: pointer;
}

#filterbar {
  width: 100%;
  display: none;
  flex-direction: column;
}

#lay1,
#lay2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

#filtertitle {
  align-self: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: large;
  color: white;
}

#pop-up {
  display: none;
  position: fixed;
  z-index: 2;
  margin-top: 1%;
  background-color: white;
  width: 450px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

#close {
  border: none;
  border-radius: 5px;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}

#close:hover {
  cursor: pointer;
  box-shadow: 0 0 7px rgba(40, 40, 40, 0.509);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

#htptitle {
  font-size: 25px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-right: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: red;
  text-shadow: 1px 1px black;
}

#htpcontent {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: justify;
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#backfilter {
  width: 10%;
  height: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  font-size: medium;
  align-self: center;
}

#backfilter:hover {
  cursor: pointer;
}

.level-container {
  position: relative;
  display: inline-block;
}

#level {
  width: 150px;
  height: 25px;
  padding: 5px;
  font-family: sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-bottom: 0;
  border: 1px solid black;
}

#level:hover {
  color: red;
  transition: ease-in-out 0.2s;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  min-width: 144.5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 2px;
}

.dropdown li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.dropdown li:first-child {
  border-top: none;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.selected-option {
  font-weight: bold;
  background-color: #ddd;
}

#resultados {
  width: 15%;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  max-height: 80px;
  display: none;
  z-index: 1;
}

.resultado-botao {
  cursor: pointer;
  padding: 5px;
  width: 192px;
  background-color: lightgrey;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  text-transform: capitalize;
}

.resultado-botao:hover {
  background-color: rgb(227, 227, 227);
}

.resultado-selecionado {
  background-color: rgb(232, 232, 232);
}

#gamebar {
  display: flex;
  flex-direction: row;
}

#tip-bar {
  background-color: white;
  width: 30px;
  height: 25px;
  border: 1px solid black;
  border-left-style: dashed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#tip-icon {
  width: 100%;
}

#tip-bar:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.362);
  transition: ease-in-out 0.2s;
}

#popup-tip1 {
  position: fixed;
  bottom: 20px;
  right: -400px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(253, 0, 0, 0.246);
  border: 1px ridge rgba(0, 0, 0, 0.262);
  border-radius: 5px;
  padding: 20px;
  padding-top: 10px;
  padding-right: 10px;
  transition: right 0.8s;
}

#popup-tip2 {
  position: fixed;
  bottom: 20px;
  right: -400px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(253, 0, 0, 0.246);
  border: 1px ridge rgba(0, 0, 0, 0.262);
  border-radius: 5px;
  padding: 20px;
  padding-top: 10px;
  padding-right: 10px;
  transition: right 0.8s;
}

#tip-content {
  text-align: center;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}

#dica1,
#dica2 {
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#containerT {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#tip-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 25px;
  color: #facb04;
  text-shadow: 1px 1px blue;
  margin-bottom: 15px;
}

#tipAlertBox {
  display: none;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 90px;
  right: 310px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(45, 45, 45, 0.815);
  border: 1px ridge rgba(0, 0, 0, 0.176);
  border-radius: 5px;
  padding: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes appear {
  from {
    opacity: 0;
    display: block;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

#tipAlertBox.appear {
  animation: appear 0.8s forwards;
}

#tipAlertBox.disappear {
  animation: disappear 0.8s forwards;
}

#point-back {
  display: none;
  position: absolute;
  top: 110px;
  right: 42%;
  font-family: caveat;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.712);
  animation: ponto 2.5s;
}

@keyframes ponto {
  from {
    top: 110px;
  }

  to {
    top: 30px;
    opacity: 0;
    display: none;
  }
}


/* CELULAR (ABAIXO) */

@media (max-width: 600px) {

  #filter,
  #HTP {
    width: 60%;
    height: 35px;
    font-family: sans-serif;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin: 3px;
  }

  #level {
    width: 150px;
    height: 35px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-bottom: 0;
    border: 1px solid black;
  }

  #gam-logo {
    width: 300px;
    margin-top: 7%;
    margin-bottom: 1%;
  }

  #startbutton {
    margin: 2%;
    background-color: #facb04;
    width: 40%;
    height: 50px;
    font-family: 'Itim', cursive;
    font-family: 'PT Mono', monospace;
    font-size: large;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 5px;
  }

  #pop-up {
    display: none;
    position: fixed;
    z-index: 2;
    margin-top: 1%;
    background-color: white;
    width: 80%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
  }

  #htptitle {
    font-size: 20px;
    font-family: 'Itim', cursive;
    font-family: 'PT Mono', monospace;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    text-shadow: 1px 1px black;
  }

  #htpcontent {
    font-family: 'Itim', cursive;
    font-family: 'PT Mono', monospace;
    text-align: justify;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  #lay1,
  #lay2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #filtertitle {
    align-self: center;
    font-family: 'Itim', cursive;
    font-family: 'PT Mono', monospace;
    font-size: large;
    color: white;
  }

  #genfilter {
    width: 30%;
    height: 35px;
    background-color: #facb04;
    font-family: 'Itim', cursive;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 8px;
  }

  #backfilter {
    width: 20%;
    height: 30px;
    font-family: 'Itim', cursive;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    font-size: medium;
    align-self: center;
  }

  #pokebox {
    background-color: white;
    width: 70%;
    border: 1px solid;
    border-radius: 5px;
    padding: 3%;
    display: none;
    flex-direction: column;
    align-items: center;
    animation: boxshow 1s;
  }

  @keyframes boxshow {
    from {
      width: 0%;
    }

    to {
      width: 70%;
    }
  }

  #guessform {
    margin-top: 5%;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #guessit {
    font-family: 'Itim', cursive;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 2px;
  }

  #guessbox {
    width: 250px;
    height: 30px;
    font-size: medium;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #tip-bar {
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-left-style: dashed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  #enviar {
    margin-top: 4%;
    width: 50%;
    height: 35px;
    background-color: #facb04;
    border: 2px solid black;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
  }

  #resultados {
    width: 258px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    max-height: 80px;
    display: none;
    z-index: 1;
  }

  .resultado-botao {
    cursor: pointer;
    padding: 5px;
    width: auto;
    background-color: lightgrey;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    text-transform: capitalize;
  }
}

/* TABLET (ABAIXO) */

@media (max-width: 1024px) {

  #filter,
  #HTP {
    width: 30%;
    height: 35px;
    font-family: sans-serif;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin: 3px;
  }

  #level {
    width: 150px;
    height: 35px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-bottom: 0;
    border: 1px solid black;
  }
}