@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Skranji:wght@400;700&display=swap');


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #d90f0f;
    margin-bottom: 0;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header-image {
    width: 30%;
}

#pokelogo {
    width: 25%;
}

#main{
    flex: 1;
    margin-bottom: 50px;
}

#slogan {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    font-family: 'Skranji', cursive;
}

#bLine {
    margin: 0;
    padding-top: 2%;
    background-color: black;
}

#container-slog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-games{
    font-size: large;
    height: 10%;
    padding: 1%;
    margin-right: 20%;
    margin-left: 20%;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #b3b3b3;
    font-weight: bold;
    color: #f84141;
}

#button-games:hover{
    background-color: #f84141;
    color: white;
    transition: ease-in-out .2s;
    cursor: pointer;
}

footer {
    margin: 0;
    margin-top: 2%;
    padding: 2%;
    background-color: rgb(164, 164, 164);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
}

#games{
    display: flex;
    justify-content: center;
}

#GAM{
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#topgam{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

#gampic{
    width: 80%;
    padding: 10px;
    align-self: center;
}

#preview{
    width: 70%;
    border-radius: 5px;
    align-self: center;
}

hr{
    background-color: rgba(211, 211, 211, 0.259);
    height: .3px;
    width: 100%;
}

#descgam{
    padding: 10px;
    text-align: justify;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#gogam{
    padding-bottom: 5px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
    width: 50%;
    height: 30px;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5%;
    background-color: #facb04;
    border: 1px solid blue;
    border-radius: 5px;
}

#gogam:hover{
    cursor: pointer;
    background-color: #ffde4a;
    color: rgb(35, 35, 35);
}